

    
        /* 
        
          We'll use the same grid-container and grid-item classes we have previously
          to nicely display random dice rolls.
        */

        body{
          background-color: cornflowerblue;
        
        }

        #container{
          max-width: fit-content;
          margin: 0 auto;
          padding: 100px;
          background-color: aqua;



        }
        
/*
        https://www.w3schools.com/css/css3_buttons.asp
        */
        .button {
          border: none;
          color: white;
          padding: 10px;
          text-align: center;
          cursor: pointer;
          margin: 5px; 
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
        }
        .minus,.plus{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          font-size: medium;
          line-height: normal;  
          background-color: aquamarine;
          

        }
        
        span{
          color: blueviolet;


        }
        .grid-container {
          display: grid;
          grid-gap: 15px;
          grid-template-columns: repeat(auto-fill, minmax(50px, 20px));;
          background-color: #2196F3;
          padding: 10px;
        }
    
        .grid-item {
          background-color: rgba(25, 255, 255, 0.8);
          border: 1px solid rgba(95, 18, 44, 0.432);
          padding: 10px;
          font-size: 30px;
          text-align: center;
        }
        
        /*
           Make the font size of spans and inputs larger
        */
        span, input
        {
          font-size: 20px;
        }
